*{
    margin: 0;
    border:none;
    background:none;
    padding: 0;
    box-sizing: border-box;
}


body{

    background: #FEBB41;

}
button
{
 
    cursor:pointer;
   
}

.wrapper{
width: 1511px;
height: 886px;
border-radius:24px;
background: linear-gradient(305deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
display:block;
margin:auto;
margin-top: 100px;
padding: 48px 87px 0px 65px;
}
.logo_button{
    color: #000;

font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 44.736px */


}

.nav
{
    display:inline-block;
    margin-left:294px;
}
.nav_elem{
    display:inline-block;
    color: #000;
    margin-left:56px;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 20.856px */
cursor:pointer;
}
.search_input
{
   width: 314px;  
   height: 60px;
   padding-left: 41px;
   margin-left:160px;
   border-radius: 30px;
background: rgba(255, 249, 240, 0.10);

box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.10);
display:inline-block;

}
.search_text
{
    color: #000;

    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 20.856px */
   margin-left: 13px;
   margin-right: 17px;
    width: 180px;  
 margin-top: 20px;
 outline:none;
}
.cart
{
    display:inline-block;
}
.nav_elem_btn{
    font-weight: 400px;
    font-size:22px;
}
.info_left
{

display:inline-block;
position:static;
margin-top: 102px;
}
.info_right
{

    display:inline-block;
    position:absolute;
 
}
.info_img
{
width: 750px;
height: 712px;

}
.info_headers_2
{display:inline-block;
    color: #FF7E00;

    font-family: Poppins;
    font-size: 125px;
    font-style: normal;
    font-weight: 700;
    line-height: 118px; /* 118.5px */
    letter-spacing: -4.375px;
    
}
.info_headers_1
{display:inline-block;
    color: #2F2F2F;

font-family: Poppins;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 49px; /* 49.296px */
margin-left: 18px;
}
.info_text
{
    color: #909090;

font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 30.536px */
margin-top: 24px;
}
.info_order

{
    margin-top: 44px;
}
.order_btn
{
    border-radius: 84px;
background: #2F2F2F;

box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.20);
width: 188px;
height: 70px;
flex-shrink: 0;
    color: #F4ECE1;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 18.96px */
}
.watch_btn_play
{
    width: 57px;
height: 57px;
background-color: #fff8f0;
display:inline-block;
border-radius: 100%;
text-align: center;
padding: 17px;
font-size:20px;


}
.watch_btn_text
{
    color: #2F2F2F;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 18.96px */
display: inline-block;
margin-left: 11px;
}
.nav_elem_star
{
    display:inline-block;
  
    margin-right:2px;

    width: 28px;
height: 28px;
}
.nav_star{
    display:inline-block;
    margin-left:0px;
    margin-top:69px;
}
.star_text
{

    color: #2F2F2F;

    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.8%; /* 25.164px */
    margin-top: 11px;
    margin-bottom: 6px;
}
.star_text_rew{

    color: #909090;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 139.8%;

}
.rating_info
{
    margin-left: 5px;
    width: 250px;
}
.watch_btn{
    margin-left: 28px;
}
.info
{
   
    margin-top: 41px;
}